/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

        /* Active/current link */
        .sidebar a.active {
            background-color: #4CAF50;
            color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.search {
    width: 30%;
    position: relative;
    text-align: center;
    left: 35%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #D1D1D1;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: green;
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #D1D1D1;
    background: #D1D1D1;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.index-gallery {
    width: 80%;
    padding: 50px 150px;
    display: block;
    height: 600px;
    color: green;
}

.item {
    width: 200px;
    text-align: center;
    display: block;
    background-color: transparent;
    margin-right: 20px;
    margin-bottom: 50px;
    float: left;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.page {
    margin-left: 250px;
    height = 1000px;
}
