<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='manu2.css') }}">
</head>

<body>
    <main class="container">

        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            <img data-image="red" class="active" src="https://images-na.ssl-images-amazon.com/images/I/61gNxUgg%2BlL._AC_SL1500_.jpg?w=780" style="height:450px">
        </div>
        <div id="menu">
    <a href="/manufacturer">/manufacturer</a>
    <a href="/manufacturer/dispatch">/manufacturer/dispatch</a>
    <a href="/supplier">/supplier</a>
    <a href="/user">/user</a>
    <a href="/manufacturer/apple">/manufacturer/apple</a>
    <a href="/phones/iphone">/phones/iphone</a>
</div>
        <!-- Right Column -->
        <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
                <span>smartphones</span>
                <h2>IPhone 11 256GB</h2>
            </div>

            <!-- Product Configuration -->
            <div class="product-configuration">
                <form action="/dispatch" method="post">
                    Serial number: <input type="text" name="serial"><br>
                    Sending to supplier: <select name="infodst">
                        <option value="S0">Amazon</option>
                        <option value="S1">The Phonehouse</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>

            </div>

        </div>
    </main>
    </body>