<!DOCTYPE html>
<html>
<head>
    <title>
        Apple Main Page {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='client.js') }}"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
  
  
<body>

<style type="text/css">
html, body{width: 100%; height: 100%; padding: 0; margin: 0}
  
div{position: absolute; padding: 1em; }

</style>

<div id="nw">
<image src="https://www.freeiconspng.com/uploads/profile-icon-9.png" alt="iPhone 11" style="height:200px">

</div>
  
  
<div id="ne">
  <div class = product-description>
    <h1>Paco Riveras</h1>
    <p>@username</p>
    <p> Tokens: 500 
     <button>Render</button>
      </p>
  </div>
  
</div>
  
  
<div id="sw">
  
  
  </div>
<div id="se">test</div>
  
  
  </body>